{% extends 'layout.html' %}
{% block body %}
<div class="container">  
  <table class="table-sm table table-striped">
  <tr>      
  <td class="text-left"><a href='{{url_for("gotodash")}}' class='btn btn-primary'>Go Back</a></td>
    <td class="text-right">
      <a href='{{url_for("logout")}}' class='btn btn-outline-danger'>{{ username }} logout</a>
  </td>
</tr>
</table>
</div>
<div class="container">  
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
<h5>Please Allocate courses for each semster</h5>
<form action="/calloc" method="post">
  <table class="table table-sm table-striped">
    <tr>
  <th>Semester</th><th>Courses</th><th>Action</th>
  </tr>
  <td>
    <select class="form-control" name="semester_id" id="semester_id">
    {% for s in semdata %}
          <option value={{s.semester_id}}>{{s.semester_description}}</option>
    {% endfor %}    
</select>    
  </td><td>
    <select class="form-control" name="course_id" id="course_id">
      {% for c in cordata %}
            <option value={{c.course_id}}>{{c.course_description}}</option>
      {% endfor %}    
  </select>    
  </td>
  
    <td colspan="2"> <input class="btn btn-primary" type="submit" value="Save Data"></td>
  
<tr>
  </table>
</form>
</div>
  <div class="container"> 
    <h5>Currently available courses</h5>
    <table class="table table-sm table-striped">
      <tr>
          <th>Semester</th>
          <th>Courses</th>
          <th>Action</th>          
      </tr>
      {% for ca in cadata %}
    <tr>
    <td>{{ca[2].semester_description}}</td>
    <td>{{ca[1].course_description}}</td>        
        <td><a href="/edit_qdetails/{{ca.qualification_id}}">Edit</a></td>
    </tr>
      {% endfor %}
    </table>
    </div>
{% endblock %}

