{% extends 'layout.html' %}
{% block body %}
<div class="container">  
  <table class="table-sm table table-striped">
  <tr>      
  <td class="text-left"><a href='{{url_for("cdetails")}}' class='btn btn-primary'>Go Back</a></td>
    <td class="text-right">
      <a href='{{url_for("logout")}}' class='btn btn-outline-danger'>{{ username }} logout</a>
  </td>
</tr>
</table>
</div>
<div class="container">  
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
<h2 class="text text-primary">Edit Course Details</h2>
<form action="/update_cdetails" method="post">
  <table class="table table-sm table-striped">
    <tr>
  <th>Course Description</th><th>Action</th>
  </tr>
  <input type="hidden" name="course_id" id="course_id" value={{edata.course_id}}>
  <td>
    <input class="form-control" type="text" id="course_description" name="course_description" required value='{{edata.course_description}}'>
  </td>
  <td colspan="2"> <input class="btn btn-primary" type="submit" value="Update Data"></td>
</tr>

  </table>
</form>
</div>
{% endblock %}

