
{% extends 'layout.html' %}
{% block body %}
<div class="container">  
  <table class="table-sm table table-striped">
  <tr>      
  <td class="text-left"><a href='{{url_for("gotodash")}}' class='btn btn-primary'>Go Back</a></td>
    <td class="text-right">
    
  </td>
</tr>
</table>
</div>
<div class="container">  
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
  </div>   
      <div class="container">    
        {% if pendingdata %}       
        <h5>Pending Requests</h5>  
        <table class="table table-striped"> 
          <th>Semester</th><th>Courses</th><th>Teacher/ViewDetails</th><th>Remarks</th><th colspan="2">Action</th>
        {% for pd in pendingdata %}
        <tr>
          <td>{{pd[3].semester_description}}</td>
            <td>{{pd[2].course_description}}</td>
            <td><a href="/report/{{pd[4].staff_id}}">{{pd[4].first_name}}{{pd[4].last_name}}</a></td>
            <form action="/reqman" method="post">
            <td>              
              <textarea name="remarks" id="remarks" cols="30" rows="2" class="form-control" required></textarea>          
            </td>
            <td><select name="status" id="status" class="form-control">
              <option>Approved</option>
              <option>Rejected</option>
            </select></td>
            <td>
              <input type="hidden" name="stc_id" id="stc_id" value={{ pd[0].stc_id }}>
              <input type="submit" value="Save" class="btn btn-primary btn-sm">
            </td>
          </form>          
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <h5>No Pending request to show</h5>  
      
      {% endif %}
  </div>
      <div class="container">
        <h5>Approved Requests</h5>
        <table class="table table-striped">
          <tr>
            <th>Semester</th><th>Course</th><th>Teacher</th><th>Status</th><th>Remarks</th><th>Authorisedby</th>
          </tr>
          {% for ad in approveddata %}
          <tr>       
            <td>{{ad[3].semester_description}}</td>
            <td>{{ad[2].course_description}}</td>
            <td>{{ad[4].first_name}} {{ad[4].last_name}}</td>
            <td>{{ad[0].status}}</td>
            <td>{{ad[0].remarks}}</td>
            <td>{{ad[0].authorisedby}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
{% endblock %}

