{% extends 'layout.html' %}
{% block title %}
	Sign In - Teaching Management
{% endblock %}
{% block body %}
  <div class="container">
    {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <form action="/signin" method="POST">
      <label>Username:</label>
    <input class="form-control" type="text" name="uname" id="uname" required placeholder="UserName:" autocomplete="false">
    </br>
    <label>Password:</label>
    <input class="form-control" type="password" name="password" id="password" required placeholder="Password:" autocomplete="false">
  </br>
    <input type="submit" value="Login" class="btn btn-primary btngp">
</br>
</br>
<p class='text-left'><a href='{{url_for("signup")}}' class='btn btn-warning btngp'>New User! Please Signup Here.</a></p>
  </form>
  </div>
{% endblock %}
