
{% extends 'layout.html' %}
{% block body %}
<div class="container">  
  {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}   
      <form action="/update_mdetails" method="post">
      <table class="table table-sm table-striped">
      <th>Title</th><th>First Name</th><th>Last Name</th>
      <tr><td>
        <input type="hidden" name="staff_id" id="staff_id" value={{edata.staff_id}}>
        <select name="title" id="title" class="form-control">
          {% for t in tdata %}
          {%if t.title==edata.title%}
          <option value={{t.title}} selected>{{t.title}}</option>
          {% else %}
          <option value={{t.title}}>{{t.title}}</option>
          {%endif%}
          {% endfor %}
        </select>
      </td><td>
        <input class="form-control" type="text" id="fname" name="fname" value={{edata.first_name}} placeholder="First Name" maxlength="20" required>
      </td>   
      <td>
        <input class="form-control" type="text" id="lname" name="lname" value={{edata.last_name}} placeholder="Last Name" maxlength="20" required>
      </td>  
    </tr>
    <th>Address</th><th>Email</th><th>Phone Number</th>
    <tr>
      <td>
        <input class="form-control" type="text" id="address" name="address" value={{edata.address}} placeholder="Address" maxlength="50" required>
      </td>
      <td>
        <input class="form-control" type="email" id="email" name="email" value={{edata.email}} placeholder="Email Address" maxlength="50" required>
      </td>
      <td>
        <input class="form-control" type="text" id="phone" name="phone" value={{edata.phone}} placeholder="Phone Number" maxlength="50" required>
      </td>
    </tr>
    <tr>
      <td class="text-left" colspan="03">        
        <input class="btn btn-primary" type="submit" value="Update Data">       
      </td>      
        </tr>  
  
</table>
</form>
</div>
{% endblock %}